/* Styles pour EventListComponent */
.EventListComponent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  color: black; /* Couleur du texte */
  padding: 20px;
}

.EventListComponent img {
  max-height: 300px;
  border-radius: 8px;
  margin-right: 20px;
  z-index: 1; /* Assure que l'image est au-dessus des pseudo-éléments */
}

.header-content {
  margin-left: 20px;
  max-width: 600px;
}

.header-content h1 {
  font-size: 40px;
  margin: 0;
  color: var(--second-color);
}

.header-content p {
  font-size: 1.2em;
  margin-top: 4rem;
  color: black;
}

.eventlist-logo {
  height: 600px;
  margin-left: 20px;
  z-index: 1000;
}

.EventListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-top: 2rem;
  padding: 0 4rem;
  background-color: var(--first-color);
}

.EventListContainer h1 {
  font-size: 36px;
  font-weight: bold;

  color: var(--second-color);
}

.EventListContainer p {
  font-size: 1.1em;

  color: #777;
}

.EventListContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.EventListContainer li {
  background-color: white;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 3rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgb(123, 123, 123);
}

.EventListContainer li .button-1 {
  text-decoration: none;
  background-color: var(--fourth-color);
  color: var(--first-color);
  padding: 0.6rem 4rem;
  border-radius: 5px;
  font-weight: bold;
}
.EventListContainer li .button-2 {
  text-decoration: none;
  background-color: var(--fifth-color);
  color: var(--second-color);
  padding: 0.6rem 4rem;
  border-radius: 5px;
  font-weight: bold;
}
.EventListContainer li .button-3 {
  text-decoration: none;
  background-color: var(--sixth-color);
  color: var(--first-color);
  padding: 0.6rem 4rem;
  border-radius: 5px;
  font-weight: bold;
}
.EventListContainer li .button-4 {
  text-decoration: none;
  background-color: var(--seventh-color);
  color: var(--second-color);
  padding: 0.6rem 4rem;
  border-radius: 5px;
  font-weight: bold;
}

.EventListContainer li .button:hover {
  text-decoration: underline;
  background-color: var(--first-color);
  color: black;
}

.line-1 {
  border: none;
  border-bottom: 1.5px solid var(--fourth-color);
  width: 30vw;
  margin-left: 80rem;
}
.line-2 {
  border: none;
  border-bottom: 1.5px solid var(--fifth-color);
  width: 30vw;
  margin-left: 80rem;
}
.line-3 {
  border: none;
  border-bottom: 1.5px solid var(--sixth-color);
  width: 30vw;
  margin-left: 80rem;
}
.line-4 {
  border: none;
  border-bottom: 1.5px solid var(--seventh-color);
  width: 30vw;
  margin-left: 80rem;
}

.EventListComponent::before,
.EventListComponent::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

.EventListComponent::before {
  top: 0;
  height: 50%;
}

.EventListComponent::after {
  bottom: 0;
  height: 50%;
}

/* Classes dynamiques pour les couleurs */
.thebackground-1::before {
  background-color: var(--fourth-color); /* Couleur personnalisée pour l'ID 1 */
}

.thebackground-1::after {
  background-color: var(--first-color); /* Couleur personnalisée pour l'ID 1 */
}

.thebackground-2::before {
  background-color: var(--fifth-color); /* Couleur personnalisée pour l'ID 2 */
}

.thebackground-2::after {
  background-color: var(--first-color); /* Couleur personnalisée pour l'ID 2 */
}

.thebackground-3::before {
  background-color: var(--sixth-color); /* Couleur personnalisée pour l'ID 2 */
}
.thebackground-3::after {
  background-color: var(--first-color); /* Couleur personnalisée pour l'ID 2 */
}

.thebackground-4::before {
  background-color: var(
    --seventh-color
  ); /* Couleur personnalisée pour l'ID 2 */
}
.thebackground-4::after {
  background-color: var(--first-color); /* Couleur personnalisée pour l'ID 2 */
}
